  <div class="container">
        <div class="row">
          <div class="col m8 offset-m2">
          <div class="card white">
          <div class="card-content grey-text">
          <form class="col s12" action="/signUp" method="POST">
        <div class="row">
          <div class="input-field col l6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate" name="name">
          <label for="icon_prefix">Full Name</label>
        </div>
        <div class="input-field col l6">
          <i class="material-icons prefix">email</i>
          <input id="icon_prefix" type="text" class="validate" name="email">
          <label for="icon_prefix">email</label>
        </div>

      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">https</i>
          <input id="icon_https" type="password" class="validate" name="password">
          <label for="icon_https">Password</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">https</i>
          <input id="icon_https" type="password" class="validate" name="password2">
          <label for="icon_https">Confirm Password</label>
        </div>
      </div>
          <button class="submit white grey-text lighten-1">Sign Up</button>
    </form>
    <div class="fb_btn">
<!--     <form method='GET' action='/logIn/facebook'>
      <button class="submit white grey-text lighten-1"><i class="fa fa-facebook-official"></i> Sign Up with Facebook</button> 
    </form> -->
    </div>
  </div>