.rightButton {
	text-align: right;
}

.leftButton {
	text-align: left;

}
.circle {
	margin-top: 10px;
	height: 120px;
	vertical-align: center;
}
.circle2 {
	margin-left: 5%;
}
#middle_row {
	margin-top: 0px;
	padding: none;
	margin-right: 0px;
	margin-right: 0px;
}

.login_img {
	max-width: 200px;
	padding: none;
	vertical-align: center;
}

#linkedWine {
	position: absolute;
}

#profile_pic {
	float: left;
	padding-left: 40px;
	padding-top: 10px;
}
#upload_photo {
	border: 2px solid black;
	padding-bottom: 200px;
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;
}
.homepage {
	background-color: #31CABA;
	min-height: 900px;
	margin-top: -20px;
}

#homepage_h1 {
	text-align: center;
	font-family: 'Work Sans', sans-serif;
	color: white;
	font-weight: 200px;
}

.hp_img {
	max-height: 1000px !important;
}

#home_nav {
	color: black !important;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 100px;
	font-size: 20px;
}

#nav_bar {
	background-color: #00897b;
}

#nav_bar a {
	display: inline;
}

.nav_right {
	float: right;
	margin-right: 3%;
	word-spacing: 15px;
}

#wineround {
	margin-top: 40px;
	display: inline;
	border: 2px solid white;
	border-radius: 50%;
	padding: none !important;
}

nav {
    color: #fff;
    background-color: #009688;
    width: 100%;
    height: 56px;
    line-height: 60px;
}
.side-nav {
	text-align: center;
	font-family: 'Work Sans', sans-serif;
	font-weight: 200px;
}
.radio_btn{
	display: inline;
}
#searchbar {
	margin-top: 20px;
	margin-right: 15%;
}
#fb_btn {
    border: none;
    box-shadow: none;
    color: #fafafa;
    height: 40px;
    padding-top: 0px;
    width: 200px;
    padding-left: 0px;
}

.fb_btn {
	float:left;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-top: 20px;
}

h6 {
	size: 50px;
}

.delete-btn {
	float: right;
	vertical-align: bottom;
	margin-right: 10px;
}

.invalid {
	min-width: 100%;
}

.profile_cards {
	margin-right: 5%;
}

.name {
	margin-left: 3%;
	font-size: 18px;
}


